archive/

# Virtual Environment 
.venv*
venv*

# Mac OS Clutter
.DS_Store
._DS_Store

# Python Cache
*.pyc
__pycache__

# Temporary Build Directories
build/
build_binaries/
dist/
build_instructions/dist_tmp/
src/generated_version.py

old_src